.aside {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    width: 50%;
    height: 8%;
    transition: 1s ease-in-out;
    opacity: 1;
    visibility: visible;
    &-disable {
        overflow: hidden;
        width: 3%;
        left: 20px;
        height: 6.5%;
        transform: translateX(0);
        .aside-container {
            background: #ffffff;
            padding: 12px;
        }
        .aside-logo {
            margin-right: 40px;
            transform: rotate(-90deg);
        }
    }
 
    &-container {
        background: #1f1f1f;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        height: 100%;
        border-radius: 10px;
        transition: 1s ease-in-out;
    }
    &-list {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
    &-accaunt {
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
    }
   
    &-logo {
        display: flex;
        align-items: center;
        column-gap: 15px;
        cursor: pointer;
        transition: 1s ease-in-out;
        transform: rotate(90deg);
        &-icon {
            width: 30px;
            height: 30px;
        }
    }
}