.main {
    &-portfolio {
        &-games {
            .reserve {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                 .title-reserve {
                    font-size: 18px;
                    text-align: center;
                    color: #fff;
                    margin-top: 30px;
                }
                .descr-reserve {
                    font-size: 16px;
                    color: #9b9b9b;
                    margin-top: 5px;
                }
            }
             &_item {
                // width: 19%;
                height: auto;
                background: #242424;
                border-radius: 10px;
                padding: 15px 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                column-gap: 30px;
                position: relative;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover {
                    background: #6b3ceb38;
                }
               
                &-img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
                &-text {
                    display: flex;
                    flex-direction: column;
                    // row-gap: 5px;
                    .name {
                        font-size: 20px;
                        color: #fff;
                        margin-top: 10px;
                    }
                    .subname {
                        font-size: 16px;
                        color: #535353;
                        font-weight: 700;
                    }
                    .people {
                        font-size: 14px;
                        color: #6b3ceb;
                        font-weight: 700;
                        margin-top: 20px;
                    }
                }
                &-btn {
                    width: auto;
                    height: auto;
                    padding: 10px 20px;
                    margin-top: 20px;
                    border-radius: 7px;
                    width: 100%;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    background: linear-gradient(to left, #6b3ceb, #eb3c62);
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        box-shadow: 0 0 10px 10px #eb3c623b;
                    }
                }
            }
        }
    }
}