.main {
    &-header {
        &-title {
            font-size: 22px;
            color: #a1a1a1;
        }
        &-search {
            height: 50px;
            width: 450px;
            position: relative;
            background: #fff;
            border-radius: 100px;
            &_icon {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
            &_input {
                background: none;
                height: 100%;
                width: 100%;
                padding: 0px 10px 0px 60px;
                color: #838383;
                font-size: 18px;
                font-weight: 600;
            }
        }
        &-notify {
            position: absolute;
            right: 0px;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);
        }
    }
}